<mjml>
    <mj-head>
        <mj-title>vente de vins</mj-title>
        <mj-attributes>
            <mj-class name="cBlack" color="#140f09"/>
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#140f09">
        <mj-section>
            <mj-column>
                <mj-image>
            </mj-column>
        </mj-section>

    </mj-body>
</mjml>