<mj-section padding="20px">
    <mj-column>
        <mj-text align="center" mj-class="T12-400 cWhite">Si vous ne visualisez pas correctement cet email,
            <a style="color:white;" href="{{ mirror }}">cliquez ici</a></mj-text>
    </mj-column>
</mj-section>
<mj-section padding="0">
    <mj-column>
        <mj-image padding="0" width="600" src="./images/pompebiere.png" />
    </mj-column>
</mj-section>