<mj-section>
    <mj-column>
        <mj-imagesrc="images/recette.jpg" alt="image de la recette" width="300px" padding="0px" padding-bottom="20px"/>
    </mj-column>
    <mj-column>
        <mj-text>
            <h2>Recette de crèpes à la bière</h2>
            <p>temps 1h02 très facile bon marché</p>
            <h3>Ingrédients :</h3>
            <p>500g de farine, sel, 2 cuillères à soupe d'huile, 2 cuillères à soupe de rhum, 25 cl de bière, 6 oeufs et 50 cl de lait.</p>
            <h3>Préparation :</h3>
            <p>Etape 1 : Mettez la farine dans un saldier. Faites-y un puits et ajoutez l'huile, le rhum et les oeufs.</p>
            <p>Etape 2 : Mélangez, puis ajoutez petit à petit le lait, puis la bière</p>
            <p>Etape 3 : Laissez reposer 1 heure avant de faire cuire les crèpes. Les déguster avec du sucre en poudre ou de la cassonade.</p>
        </mj-text>
    </mj-column>
</mj-section>