<mj-section>
    <mj-column>
        <mj-imagesrc="images/recette.jpg" alt="image de la recette" width="300px" padding="0px" padding-bottom="20px"/>
    </mj-column>
    <mj-column>
    </mj-column>
</mj-section>