<mjml>
    <mj-head>
        <mj-title>vente de vins</mj-title>
        <mj-raw>
        </mj-raw>
        <mj-attributes>
            {# typographies Email #}
            <mj-all font-family="Arial, Helvetica, sans-serif"/>
            <mj-class name="T24-700" font-family="Arial, Helvetica, sans-serif" font-size="24px" font-weight="700" line-height="30px"/>
            <mj-class name="T20-700" font-family="Arial, Helvetica, sans-serif" font-size="20px" font-weight="700" line-height="26px"/>
            <mj-class name="T20-400" font-family="Arial, Helvetica, sans-serif" font-size="20px" font-weight="400" line-height="26px"/>
            <mj-class name="T16-700" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-weight="700" line-height="22px"/>
            <mj-class name="T16-400" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-weight="400" line-height="22px"/>
            <mj-class name="T14-700" font-family="Arial, Helvetica, sans-serif" font-size="14px" font-weight="700" line-height="20px"/>
            <mj-class name="T12-700" font-family="Arial, Helvetica, sans-serif" font-size="12px" font-weight="700" line-height="18px"/>
            <mj-class name="T12-400" font-family="Arial, Helvetica, sans-serif" font-size="12px" font-weight="400" line-height="18px"/>
            {# couleur Email #}
            <mj-class name="cOrange" color="#ff5a00"/>
            <mj-class name="bgOrange" background-color="#ff5a00"/>
            <mj-class name="cBlack" color="#140f09"/>
            <mj-class name="bgBlack" background-color="#140f09"/>
            <mj-class name="cWhite" color="#ffffff"/>
            <mj-class name="bgWhite" background-color="#ffffff"/>
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#140f09">
        {# header #}
        {% include "partials/header.njk" %}
        {# body_1 #}
        <mj-section padding="20px" background-color="#ffffff">
            <mj-column padding="10px">
                <mj-text padding="0" mj-class="T24-700 cOrange">Édito</mj-text>
                <mj-text padding="0" mj-class="T16-400 cBlack" font-style="italic">
                    <img padding="0" align="left" width="87px" src="images/logoBrasserie.png" alt="logo de brasserie belge"/>
                    Bienvenue dans l’univers de notre brasserie artisanale ! Ici, chaque bière raconte une histoire de passion, de terroir et de créativité. Entre recettes audacieuses et savoir-faire traditionnel, nous brassons pour éveiller vos papilles et partager l’art du houblon. Installez-vous, servez-vous, et laissez-vous surprendre…</mj-text>
            </mj-column>
            <mj-column padding="10px">
                <mj-text padding="0" mj-class="T24-700 cOrange">Actualités</mj-text>
                {% for new in news %}
                    <mj-text padding="0" mj-class="T12-700" color="#616161"><span style="color:#ff5a00;">&#9679; </span>{{ new.date }}</mj-text>
                    <mj-text padding="0" mj-class="T16-400 cBlack">{{ new.title }}</mj-text>
                    <mj-text padding="0" align="right" mj-class="T12-400">
                        <a href="{{ new.url }}" style="color: #ff5a00; text-decoration: none;">Lire plus...</a>
                    </mj-text>
                {% endfor %}
            </mj-column>
        </mj-section>
        {# Products #}
        <mj-wrapper padding="25px" background-color="#ffffff">
            <mj-section padding="0px">
                <mj-column>
                    <mj-text padding="0" align="center" font-size="36px" font-weight="700" mj-class="cBlack">Bières de&nbsp;la&nbsp;semaine</mj-text>
                    <mj-text padding="0" align="center" mj-class="T14-700 cBlack" text-transform="uppercase" letter-spacing="2px">sélection de la brasserie</mj-text>
                </mj-column>
            </mj-section> 
            {% include "partials/products.njk" %}
        </mj-wrapper>
        {# Footer #}
        {% include "partials/footer.njk" %}
    </mj-body>
</mjml>